<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-12 d-flex justify-content-between align-itmes-center">
            <h2 class="text-themecolor mb-0">All Bookings</h2>
            <div class="d-flex justify-content-end align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">All Bookings</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label">Filter:</label>
                                        <div class="form-group">                                            
                                            <select class="form-control custom-select">
                                                <option selected value="">Booking Date</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">From Date</label>
                                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">To Date</label>
                                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mt-1">
                                        <button type="button" class="btn btn-primary mt-4">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row justify-content-end">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Search</label>
                                            <input type="text" class="form-control" placeholder="Search">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <div class="d-flex justify-content-center align-items-center mt-4">
                                            <a href="your-file.csv" download class="text-decoration-none text-primary">
                                                <img src="./assets/images/excel.png" style="width: 24px;"> Download CSV
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="table-responsive mt-5">
                                    <table class="table common-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Channel
                                                </th>
                                                <th>Booking ID</th>
                                                <th>Customer Name</th>
                                                <th>Payment</th>
                                                <th>Booked On</th>
                                                <th>Check In</th>
                                                <th>Check Out</th>
                                                <th>Room</th>
                                                <th>Total Room Night</th>
                                                <th>#Of Rooms</th>
                                                <th>Meal Plan</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                   PM5 
                                                </td>
                                                <td>abcd</td>
                                                <td>
                                                   Anubhav Gupta 
                                                </td>
                                                <td>
                                                   Postpaid 
                                                </td>
                                                <td>20 Dec 2024 01:32 PM</td>
                                                <td>21 Dec 2024</td>
                                                <td>21 Dec 2024</td>
                                                <td>Deluxe</td>
                                                <td>
                                                    10
                                                </td>
                                                <td>
                                                    10
                                                </td>
                                                <td>CP</td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   PM5 
                                                </td>
                                                <td>abcd</td>
                                                <td>
                                                   Anubhav Gupta 
                                                </td>
                                                <td>
                                                   Postpaid 
                                                </td>
                                                <td>20 Dec 2024 01:32 PM</td>
                                                <td>21 Dec 2024</td>
                                                <td>21 Dec 2024</td>
                                                <td>Deluxe</td>
                                                <td>
                                                    10
                                                </td>
                                                <td>
                                                    10
                                                </td>
                                                <td>CP</td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   PM5 
                                                </td>
                                                <td>abcd</td>
                                                <td>
                                                   Anubhav Gupta 
                                                </td>
                                                <td>
                                                   Postpaid 
                                                </td>
                                                <td>20 Dec 2024 01:32 PM</td>
                                                <td>21 Dec 2024</td>
                                                <td>21 Dec 2024</td>
                                                <td>Deluxe</td>
                                                <td>
                                                    10
                                                </td>
                                                <td>
                                                    10
                                                </td>
                                                <td>CP</td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   PM5 
                                                </td>
                                                <td>abcd</td>
                                                <td>
                                                   Anubhav Gupta 
                                                </td>
                                                <td>
                                                   Postpaid 
                                                </td>
                                                <td>20 Dec 2024 01:32 PM</td>
                                                <td>21 Dec 2024</td>
                                                <td>21 Dec 2024</td>
                                                <td>Deluxe</td>
                                                <td>
                                                    10
                                                </td>
                                                <td>
                                                    10
                                                </td>
                                                <td>CP</td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-primary float-right">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
</div>
<app-footer></app-footer>