<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-12 d-flex justify-content-between align-itmes-center">
            <h2 class="text-themecolor mb-0">OTAs (OTAs Commission)</h2>
            <div class="d-flex justify-content-end align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">OTAs Commission</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">                                    
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Start Date</label>
                                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">End Date</label>
                                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Filter:</label>
                                        <div class="form-group">                                            
                                            <select class="form-control custom-select">
                                                <option selected value="">Stay Date</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 mt-1">
                                        <button type="button" class="btn btn-primary mt-4">Submit</button>
                                    </div>
                                </div>
                            </div>                            
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="table-responsive mt-5">
                                    <table class="table common-table no-border">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Channel
                                                </th>
                                                <th>RNs</th>
                                                <th>Revenue</th>
                                                <th>ARR</th>
                                                <th>Commission</th>
                                                <th>Commission %</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                   MaykeMyTrip
                                                </td>
                                                <td>264</td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>₹44,240.00</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   MaykeMyTrip
                                                </td>
                                                <td>264</td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>₹44,240.00</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   MaykeMyTrip
                                                </td>
                                                <td>264</td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>₹44,240.00</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   MaykeMyTrip
                                                </td>
                                                <td>264</td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>₹44,240.00</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   MaykeMyTrip
                                                </td>
                                                <td>264</td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>₹44,240.00</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                   MaykeMyTrip
                                                </td>
                                                <td>264</td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>
                                                    ₹44,240.00
                                                </td>
                                                <td>₹44,240.00</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Total
                                                </th>
                                                <th>2110</th>
                                                <th>₹8,093,415.00</th>
                                                <th>₹3,830.00</th>
                                                <th>₹4,093,415.00</th>
                                                <th>2.95</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-primary float-right">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
</div>
<app-footer></app-footer>