<div class="">
    <div class="modal-content">

      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div> -->
    
    <!-- Modal body -->
    <div class="modal-body">
        <button type="button" class="btn-close close_btn" data-bs-dismiss="modal" (click)="onNoClick()"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="delete-modal">
            <img src="../../../../assets/images/trash-icon.png" alt="">
            <h2>Are you sure?</h2>
            <p>Do you really want to delete this record? This proccess cannot be undone.</p>
            <div class="action-btn-sec">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="onNoClick()">Cancel</button>
            </div>
        </div>
      </div>

      <!-- Modal footer -->
      <!-- <div class="modal-footer action-btn-sec">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
      </div> -->

    </div>
</div>